@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dr Diet: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Dr Diet</h1>
    <h2>This app help you manage diet.</h2>
    <ul>
        <li>Products</li>
        <li>Recipes</li>
        <li>Menu</li>
    </ul>
    <footer>2021 Created by Damian Krzemiński</footer>
</body>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/js/index.js"></script>
</html>
