@section scripts {
    <script src="~/node_modules/popper.js/dist/popper.js/popper.min.js"></script>
    <script src="~/node_modules/moment/min/moment.min.js"></script>
    <script src="~/node_modules/pc-bootstrap4-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/menu_position_add.js"></script>
}
<h1>Add Menu Position</h1>
<link href="~/node_modules/pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<div class="container">
    <div class="row justify-content-end">
        <div id="kcal_info" class="btn btn-outline-secondary col-2">0 kcal</div>
        <div class="col-1">&nbsp;</div>
    </div>
</div>
@using (Html.BeginForm("Add", "Menu", FormMethod.Post))
{
    <div>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <input name="id" type="hidden" value="" class="form-control" />
                    <div id="my-datetimepicker" class="input-append date">
                        <input type="text" class="form-control" id="example"/>
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="courses-table" class="table">
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość</th>
                <th scope="col">Kalorie</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="courses-table-body" >
            <tr id="new-course-row">
                <td>
                    <select class="available_recipe form-control" name="courses[0].Recipe.Id" onchange="update_kcals(this.name)">
                        @foreach (var recipe in ViewBag.recipes)
                        {
                            <option value="@recipe .Id" data="@recipe.GetTotalEnergy()">@recipe.Name</option>
                        }
                    </select>
                </td>
                <td>
                    <input class="weight_in_grams form-control" name="courses[0].Ammount" type="number" value="" oninput="update_kcals(this.name)" />
                </td>
                <td>
                    <input class="kcals form-control" name="kcals" type="number" value="" disabled />
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="float-right">
        <button id="add-recipe-button" class="btn btn-primary small_button" type="button" onclick="addIngredientRow()">Add Recipe</button>
    </div>
    <div>&nbsp;</div>
    <div>
        <input type="submit" value="Submit" class="btn btn-outline-primary small_button float-right" />
    </div>
    <div>&nbsp;</div>
}
